@import 'tailwindcss';

:root {
  --colors-brand-hover: #5325dc;
  --colors-brand-active: #5325dc;

  --colors-brand: #6638ef;
  --colors-darkBlue: #00234b;
  --colors-redPink: #ff4a5a;

  --colors-bgBase: #f3f4f8;
  --colors-gray-900: #0f1419;
  --colors-gray-800: #222e39;
  --colors-gray-700: #364452;
  --colors-gray-600: #4b5865;
  --colors-gray-500: #697786;
  --colors-gray-400: #9aa6b2;
  --colors-gray-300: #cdd6df;
  --colors-gray-200: #e3e9ef;
  --colors-gray-100: #eef2f6;
  --colors-gray-50: #f8fafc;
  --colors-brand-subtle: #f5f3ff;

  --colors-blank: #ffffff;

  --font-primary: 'Inter', sans-serif;

  /* Typography */
  --text-body-size: 1.452rem; /* 14.52px */
  --text-body-line-height: 2.281rem; /* 22.81px */
  --text-body-weight: 400;

  /*Table Headers */
  --table-header-font-size: 1.037rem; /* 10.37px */
  --table-header-line-height: 1.659rem; /* 16.59px */
  --table-header-letter-spacing: 0.02em;
  --table-header-weight: 600;

  --layout-width: 1100px;

  --z-index-table-head: 2;
  --z-index-table-row: 1;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 14.52px;
  line-height: 22.81px;
}
.table-cell-text {
  font-size: var(--text-body-size);
  line-height: var(--text-body-line-height);
  font-weight: 400;
}

.table-header-text {
  font-size: 1.037rem;
  line-height: 1.659rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.module-title {
  font-family: 'Remote Sans', sans-serif;
  font-weight: 500; /* Medium */
  font-style: normal;
  font-size: 2.489rem;
  line-height: 3.318rem;
  letter-spacing: 0;
  color: var(--colors-gray-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium */
  font-size: 1.659rem; /* 16.59px */
  line-height: 2.489rem; /* 24.89px */
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
}
.button-icon {
  width: 1.512rem; /* 15.12px */
  height: 1.858rem; /* 18.58px */
  flex-shrink: 0;
}
input[type='search']::-webkit-search-cancel-button {
  display: none;
}
