@import 'tailwindcss';

:root {
  --colors-brand-hover: #5325DC;
  --colors-brand-active: #5325DC;

  --colors-brand: #6638EF;
  --colors-darkBlue: #00234b;
  --colors-redPink: #ff4a5a;

  --colors-bgBase: #f3f4f8;
  --colors-gray-900: #0f1419;
  --colors-gray-800: #222e39;
  --colors-gray-700: #364452;
  --colors-gray-600: #4b5865;
  --colors-gray-500: #697786;
  --colors-gray-400: #9aa6b2;
  --colors-gray-300: #cdd6df;
  --colors-gray-200: #e3e9ef;
  --colors-gray-100: #eef2f6;
  --colors-gray-50: #f8fafc;

  --colors-blank: #ffffff;

  --font-primary: 'Inter', sans-serif;
  --layout-width: 1100px;

  --z-index-table-head: 2;
  --z-index-table-row: 1;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}
