@import 'tailwindcss';

:root {
  --colors-brand: #624de3;
  --colors-darkBlue: #00234b;
  --colors-redPink: #ff4a5a;

  --colors-bgBase: #F3F4F8;
  --colors-gray-900: #0F1419;
  --colors-gray-800: #222E39;
  --colors-gray-700: #364452;
  --colors-gray-600: #4B5865;
  --colors-gray-500: #697786;
  --colors-gray-400: #9AA6B2;
  --colors-gray-300: #CDD6DF;
  --colors-gray-200: #E3E9EF;
  --colors-gray-100: #EEF2F6;
  --colors-gray-50: #F8FAFC;

  --colors-blank: #ffffff;

  --font-primary: "Inter", sans-serif;
  --layout-width: 1100px;

  --z-index-table-head: 2;
  --z-index-table-row: 1;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after { box-sizing: inherit; }

body {
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}
